services:
  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    image: satishyarabala/catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb
    
  mongodb:
    build: ./mongodb
    image: satishyarabala/mongodb:v1
    container_name: mongodb
    volumes:
      - mongodb:/data/db
  
  redis:
    build: ./redis
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data

  mysql:
    build: ./mysql
    image: satishyarabala/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql

  rabbitmq:
    build: ./rabbitmq
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes: # -v rabbitmq:/var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq

  user:
    build: ./user
    image: satishyarabala/user:v1
    container_name: user
    depends_on:
      - mongodb
      - redis
  
  cart:
    build: ./cart
    image: satishyarabala/cart:v1
    container_name: cart
    depends_on:
      - catalogue
      - redis

  shipping:
    build: ./shipping
    image: satishyarabala/shipping:v1
    container_name: shipping
    depends_on:
      - mysql
      - cart
  
  payment:
    build: ./payment
    image: satishyarabala/payment:v1
    container_name: payment
    depends_on:
      - rabbitmq
      - cart
      - user
  
  frontend:
    build: ./frontend
    image: satishyarabala/frontend:v1
    container_name: frontend
    ports: 
      - "80:80"
    depends_on:
      - user
      - catalogue
      - cart
      - shipping
      - payment

networks:
  default:
    driver: bridge
    name: roboshop
    external: false

volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq: